.CourseWrapper {
  width: 1122px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2rem;
  border: 1px solid black;
}

.TopStripe {
  width: 281px;
  height: 7px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  position: relative;
  top: 136px;
  left: -140px;
  background: #333e48;
}

.Title {
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 160% */
  text-transform: capitalize;
  margin: 0 auto;
  width: 1122px;
  padding: 2rem 0rem 0 2rem;
}

.CourseInfo {
  margin: 0 auto;
  width: 1122px;
  height: 208px;
  flex-shrink: 0;
  fill: #fff;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .CourseDescription {
    flex: 0 0 60%;
    padding-left: 2rem;

    .Description {
      width: 677px;
      height: 140px;
      box-sizing: border-box;
      color: var(--primary-efx-dark, #333e48);
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 125% */
    }
  }

  .CourseAuditInfor {
    width: 323px;
    height: 140px;
    box-sizing: border-box;
    margin-right: 4rem;

    .AuditInfo {
      width: 310px;
      color: var(--primary-efx-dark, #333e48);
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      line-height: 20px;
      margin: 0 0 0 2rem;
      /* 125% */
    }

    .AuditInfo:first-of-type {
      margin-top: 1rem;
    }

    .ButtonList {
      width: 323px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0 0 2rem;
      justify-content: space-between;

      .icon {
        display: flex;
        width: 61px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: rgba(0, 114, 152, 0.8);

        img {
          width: 28px;
          height: 28px;
          position: absolute;
          z-index: 110;
        }
      }

      .ShowButton {
        display: flex;
        width: 180px;
        height: 38px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--primary-blue, #007298);

        p {
          color: var(--white, #fff);
          text-align: center;
          font-feature-settings:
            "clig" off,
            "liga" off;

          /* Button/caps */
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          /* 150% */
          text-transform: uppercase;
        }
      }
    }
  }
}
