.TopStripeWrapper {
    width: 1200px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 2rem
}

.ContextWrap {
    flex: 1;
}

.TopStripe {
    width: 281px;
    height: 7px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    position: relative;
    top: 135px;
    left: -137px;
    background: #333E48;
}

.Title {
    color: #000;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 160% */
    text-transform: capitalize;
    margin: 0 auto;
    width: 1122px;
}

.CourseInfo {
    margin: 0 auto;
    width: 1122px;
    height: 240px;
    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .CourseDescription {
        flex: 0 0 60%;

        .Description {
            width: 677px;
            color: var(--primary-efx-dark, #333E48);
            font-feature-settings: 'clig'off, 'liga'off;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 125% */
        }
    }

    .CourseAuditInfor {
        width: 320px;

        .AuditInfo {
            width: 323px;
            color: var(--primary-efx-dark, #333E48);
            font-feature-settings: 'clig'off, 'liga'off;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            line-height: 20px;
            margin: 0 0 0 2rem;
            /* 125% */
        }

        .AuditInfo:first-of-type {
            margin-top: 1rem;
        }

        .ButtonList {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2rem 0 0 2rem;
            justify-content: space-between;

            .icon {
                display: flex;
                width: 36px;
                height: 38px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                background-color: rgba(0, 114, 152, 0.8);

                img {
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    z-index: 110;
                }
            }

            .ShowButton {
                display: flex;
                width: 180px;
                height: 38px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 4px;
                background: var(--primary-blue, #007298);

                p {
                    color: var(--white, #FFF);
                    text-align: center;
                    font-feature-settings: 'clig'off, 'liga'off;

                    /* Button/caps */
                    font-family: Open Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    /* 150% */
                    text-transform: uppercase;
                }
            }
        }

    }
}