.SearchBar {
  width: 1122px;
  padding: 2rem 0 0 0;
  background: #f7f7f7;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;

  button {
    margin-left: 20px;
  }

  .formHorizontal {
    display: flex;
  }

  input {
    display: flex;
    width: 400px;
    height: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--basic-borders, #cfcfcf);
    background: var(--white, #fff);
  }

  .Space {
    flex: 1;
  }

  .AddNewCourse {
    display: flex;
    box-sizing: border-box;
    min-width: 183px;
    height: 50px;
    padding: 13px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--primary-blue, #007298);

    a {
      color: var(--white, #FFF);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;

      /* Button/caps */
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 150% */
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}