.Header {
    .header {
        display: flex;
        align-items: center;
        width: 1440px;
        height: 80px;
        background: white;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    }

    img {
        padding-left: 2rem;
        width: 110.27px;
        height: 48px;
    }

    .space {
        flex: 1
    }

    .description {
        text-align: right;
        color: #333E48;
        font-size: 14px;
        font-family: Open Sans;
        font-weight: 600;
        line-height: 20px;
        word-wrap: break-word;
        margin: 0 20px;
    }
}