.CourseManage {
    width: 1440px;
    height: 1176px;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .PageTitle {
        color: #333E48;
        width: 1104px;
        font-size: 32px;
        font-family: Open Sans;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 40px;
        word-wrap: break-word;
        margin-top: 3rem;
    }

    >p {
        color: #333E48;
        font-size: 32px;
        font-family: Open Sans;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 40px;
        word-wrap: break-word;
    }

    .RegistrationForm {
        width: 1104px;
        box-sizing: border-box;
        height: 825px;
        background: white;
        border-radius: 4px;
        border: 1px #CFCFCF solid;
        display: flex;
        flex-direction: column;
        padding: 0.6rem 0 0 5rem;

        input {
            width: 944px;
            margin-bottom: 1.5rem;
        }

        input[type='textarea'] {
            width: 944px;
            margin-bottom: 0rem;
        }

        .MainTitle:first-child {
            color: #333E48;
            font-size: 24px;
            font-family: Open Sans;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 32px;
            word-wrap: break-word;
        }

        .MainTitle {
            color: #333E48;
            font-size: 24px;
            font-family: Open Sans;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 32px;
            word-wrap: break-word;
            text-align: start;
            margin: 2rem 0 1rem 0;
        }

        button {
            max-width: 286px;
            text-align: center;
            box-sizing: border-box;
            margin: 1.5rem 0 2rem 0;
        }

        p {
            max-width: 278px;
            text-align: center;
            color: #333E48;
            font-size: 16px;
            font-family: Open Sans;
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;
            color: #333E48;
            font-size: 16px;
            font-family: Open Sans;
            line-height: 20px;
            word-wrap: break-word;
        }

        .Title {
            color: #333E48;
            font-size: 14px;
            font-family: Open Sans;
            font-weight: 700;
            line-height: 20px;
            word-wrap: break-word;
        }

        .DurationGroup {
            display: flex;
            align-items: center;

            input {
                width: 400px;
                margin-right: 2rem;
                margin: 0 2rem 0 0;
            }

            p {
                color: #333E48;
                font-size: 16px;
                font-family: Open Sans;
                line-height: 20px;
                word-wrap: break-word;
            }
        }

        .AuthorSection {
            display: flex;

            p {
                margin: 0;
                color: var(--primary-efx-dark, #333E48);
                text-align: start;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Open Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }

            .MainTitle {
                color: #333E48;
                font-size: 24px;
                font-family: Open Sans;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 32px;
                word-wrap: break-word;
                text-align: start;
                margin: 2rem 0 1rem 0;
            }
        }

        .CourseAuthors {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 40%;
        }

        .AuthorGroup {
            display: flex;
            align-items: center;

            input {
                width: 400px;
                margin-right: 2rem;
                margin: 0 2rem 0 0;
            }

            button {
                max-width: 185px;
                margin: 0;
            }
        }

        .TextWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
            width: 131px;

            img {
                width: 13px;
                height: 13px;
                flex-shrink: 0;
            }
        }
    }

    .ButtonGroup {
        width: 1104px;
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;

        .ButtonWrapper {
            margin: 2rem;
        }
    }
}